.credit.bg {
  background-position: bottom;
  opacity: 0.4;
}

.credit .section {
  margin-bottom: 6rem;
}

.credit .item {
  margin-bottom: 4rem;
}

.credit .maker {
  margin-bottom: 3rem;
}



/* Text*/
.credit h1 {
  margin-bottom: 3rem;
}

.credit h2, .credit h3, .credit h4 {
  margin-bottom: 1rem;
}

.credit li {
  list-style: none;
}

  .credit li a {
    text-decoration: none;
    color: #fbfaf5;
    border-bottom: 1px dashed #fbfaf5;
  }



/* Scrollbar */

.credit .scrollbar-container {
  width: 60vw;
  height: 60vh;
}

.ps__rail-y {
  width: 0.8rem;
  opacity: 0.6 !important;
}

.ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #fbfaf5;
  width: 0.8rem;
}

.ps-scrollbar-y-hover-width {
  width: 0.8rem;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  background: none !important;
  opacity: 0.8 !important;
}
