.download.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  background-position: center;
  opacity: 0.4;
}

.download .windows, .download .mac {
  margin: 1rem 0;
}

.download-button {
  font-size: 2.8rem;
  color: #fbfaf5;
  text-decoration: none;
  padding: 0 1rem 5px 1rem;
  border-bottom: 2px dashed #fbfaf5;

  cursor: pointer;
}

  .download-button:active {
    color: #fbfaf59f;
    border-bottom: 2px dashed #fbfaf59f;
  }

.download .addition {
  margin-top: 3rem;

  font-size: 1.4rem;
  color: #fbfaf59f;
}
