.navbar {
  position: absolute;
  bottom: calc(3rem - 1.5rem);
  right: 50%;
  transform: translateX(50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  z-index: 2;
}

.navbar-item {
  min-width: 15rem;
}

.navbar-item a {
  text-decoration: none;
  color: #fbfaf5;
}

.navbar-item a:hover {
  border-bottom: 2px solid #fbfaf5;
}

@media screen and (max-width: 550px) {
  .navbar {
    justify-content: left;
    align-items: left;
    overflow-x: scroll;
  }

  .navbar-item {
    min-width: 15rem;
  }
}