.news.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  background-position: center;
  opacity: 0.4;
}

.news h1 {
  margin-bottom: 1rem;
}

.news .table {
  text-align: left;
}
