.top.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-position: center;
}

.top .title {
  pointer-events: none;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -webkit-user-drag: none;

  width: 60vw;
}
