.worldview.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  background-position: center;
  opacity: 0.4;
}

.worldview h1 {
  margin-bottom: 1rem;
}

.explain {
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
}

.explain p {
  margin-bottom: 2rem;
}

.text-large {
  font-size: 3rem;
}

.text-title {
  font-size: 4rem;
  font-family: "pigmo";
}

@media screen and (max-width: 550px) {
  .text-large {
    font-size: 2rem;
  }
  
  .text-title {
    font-size: 3rem;
    text-align: center;
  }

  .explain {
    text-align: left;
  }

  .myochikirin::after, .no::after {
    content: "\A";
    white-space: pre;
  }
}
