.App {
  position: relative;
  text-align: center;
  background-color: #020202;
}

.cover-top, .cover-bottom {
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: #020202;

  z-index: 1;
}

  .cover-top { top: 0; }
  .cover-bottom { bottom: 0; }

.top, .overview, .download, .credit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

  .top, .overview, .download { background-position: center; }
  .credit { background-position: bottom; }
