@font-face {
  font-family: 'togoshi';
  src: url('assets/fonts/togoshi-gothic/togoshi-gothic.min.woff2');
}

@font-face {
  font-family: 'pigmo';
  src: url('assets/fonts/pigmo01/Pigmo-01.min.woff2');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #fbfaf5;
}

body {
  font-family: 'togoshi';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'pigmo';
  font-size: 4.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem
}

  h3::before { content: '- '; }
  h3::after { content: ' -'; }

h4 {
  font-size: 2rem
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 2rem
  }
}
